header.header-nav { background: $primaryBlue; width: 100%; height: 50px; display: flex; justify-content: space-around;
  div.logo-wrapper { display: flex;
    h1 { font-family: $montserratRegular; color: #fff; font-size: 25px; margin-left: 10px; line-height: 50px; }

    img { display: block; width: 40px; }
  }

  div.nav-wrapper { display: flex;
    nav { line-height: 50px;
      button { background: transparent; border: 1px solid transparent; @include transition(all, 0.4s, ease);
        &:hover { background: transparent; border: 1px solid #fff; }

        a { color: #fff; font-family: $montserratRegular; }
      }
    }

    button.my-shopping { align-self: center; position: relative; background: none; border: none; margin-left: 40px;
      img { display: block; width: 30px; }

      span { background: $success; font-family: $montserratMedium; font-size: 15px; width: 20px; text-align: center; border-radius: 55px; color: #fff; position: absolute; top: 10px; right: -10px; }
    }
  }
}
